{% extends 'story9/base.html' %} {% load static %} 

{% block navbar %}
<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'story9:logout' %}">LOGOUT</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'story9:login' %}">LOGIN</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'story9:register' %}">SIGNUP</a>
    </li>
    </ul>
    {% endif %}
</div>
{% endblock navbar %}

{% block main %}
    <div class="container m-5 p-5 text-center">
        {% if user.is_authenticated %}
        <h2 class="text-center">Hello, {{user}}:)</h2>
        <h3>Explore <a style="color: #06647E;" href="{% url 'story4:index'%}">DTYA</a></h3>
        {% else %}
        <h2 class="text-center">Hello!<br>Please Log In or Sign Up to continue :)</h2>
        <div class="text-center">
            <a class="btn btn-warning" href="{% url 'story9:login' %}">Log In</a>
            <a class="btn btn-warning" href="{% url 'story9:register' %}">Sign Up</a>
        </div>
        {% endif %}
    </div>
{% endblock main %}