{% extends 'story9/base.html' %} {% load static %} 

{% block navbar %}
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'story9:register' %}">SIGNUP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'story9:index' %}">HOME</a>
        </li>
        </ul>
    </div>
</nav>
{% endblock navbar %}

{% block main %}
<div class="container m-5 p-5 mx-auto">
    <h3>LOG IN</h3>
    <form method="POST">

        {% csrf_token %}
        {{ form.as_p }}
    
        <button type="submit" class="btn btn-warning">Log In</button>
        <a class="btn btn-warning" href="{% url 'story9:index' %}">Cancel</a>
    
    </form>
    <br>
    <h6 class="text-danger">{{ error }}</h6>
    <h6 style="color: #FE7210;">Don't have an account? <a style="color: #06647E;" href="{% url 'story9:register'%}">Sign Up</a></h6 style="color: #FE7210;">
</div>
{% endblock main %}