{% extends 'story9/base.html' %} {% load static %} 

{% block navbar %}
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'story9:login' %}">LOGIN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'story9:index' %}">HOME</a>
        </li>
        </ul>
    </div>
</nav>
{% endblock navbar %}

{% block main %}
<div class="container m-5 p-5 mx-auto text-center">
    <h2>You've logged out</h2>
    <div class="text-center">
        <a class="btn btn-warning" href="{% url 'story9:login' %}">Log In again</a>
        <a class="btn btn-warning" href="{% url 'story9:index' %}">Home</a>
    </div>
</div>
{% endblock main %}