{% extends 'story9/base.html' %} {% load static %} 

{% block navbar %}
<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'story9:login' %}">LOGIN</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'story9:index' %}">HOME</a>
    </li>
    </ul>
</div>
</nav>
{% endblock navbar %}

{% block main %}
<div class="container m-5 p-5 mx-auto">
<h3>SIGN UP</h3>
<form method="POST">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="btn btn-warning">Sign Up</button>
    <a class="btn btn-warning" href="{% url 'story9:index' %}">Cancel</a>

</form>
<br>
<p>Already have an account? <a style="color: #06647E;" href="{% url 'story9:login'%}">Log In</a></p>
</div>
{% endblock main %}