<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Naifathiya Langitadiva</title>
</head>
<body>
    <div class="card">
        <img src="{% static 'profil-dtya.JPG' %}" alt="Dtya" style="width:100%">
        <h1>Naifathiya Langitadiva</h1>
        <article class="title">Sistem Informasi - 1906299055</article>
        <article class="title">Universitas Indonesia</article>
        <p style="text-align: justify">My fullname is Naifathiya Langitadiva, but you can call me Dtya. 
            Sometimes it's hard to describe yourself, whether because you know yourself so well that you don't know where to start with,
        or because you don't know yourself so you don't know what to tell. But I'll try my best to introduce myself. I hope that my impression about myself and your impression about me are not so different.</p>
        <p style="text-align: justify">I am a person who is positive about every aspect of life. I also have my own principle to live my life that I won't go full throttle. Instead, I will walk slowly enjoying every step of the journey. 
            At my own pace, following my own rythms.</p>
        <article>Education</article>
        <table class="center">
            <tr>
                <th style="text-align: center"> School </th>
                <th style="text-align: center"> Year </th>
            </tr>
            <tr>
                <td>SD Islam Al Azhar 9</td>
                <td>2007 - 2013</td>
            </tr>
            <tr>
                <td>SMP Islam Al Azhar 8</td>
                <td>2013 - 2016</td>
            </tr>
            <tr>
                <td>SMA Islam Al Azhar 4</td>
                <td>2016 - 2019</td>
            </tr>
            <tr>
                <td>Universitas Indonesia</td>
                <td>2019 - 2023</td>
            </tr>
        </table>
        <div style="margin: 14px 0;">
          <a href="https://www.instagram.com/dtya__/"><i class="fa fa-instagram"></i></a>  
          <a href="https://www.linkedin.com/in/naifathiya-langitadiva-54454b179"><i class="fa fa-linkedin"></i></a>  
        </div>
        <br><br>
        <a href="{% url 'story4:index' %}">Back to Homepage</a>
        <p>© 2020 Naifathiya Langitadiva. All Rights Reserved.</p>
    </div>
    
</body>
</html>
