{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Naifathiya Langitadiva</title>
        <link rel="icon" href="{% static 'logo.png' %}" type="image/icon type">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- CSS -->
        <link rel='stylesheet' type='text/css' href="{% static 'story4/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

        {% block meta %} {% endblock meta %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>

    <body>
        <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-custom fixed-top">
        <a class="navbar-brand" href="{% url 'story4:index' %}"><img src="{% static 'logo.png' %}" style="width:80px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="line"></span>
            <span class="line"></span> 
            <span class="line" style="margin-bottom: 0;"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home:index' %}">STORY 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story4:jadwal' %}">JADWAL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story6:index' %}">ACTIVITY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story4:skills' %}">SKILLS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story4:experiences' %}">EXPERIENCES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story4:about' %}">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story7:index' %}">ME</a>
            </li>
            </ul>
        </div>
    </nav>
        {% block main %} {% endblock main %}

        <!-- block for js and jquery accordion -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </body>
</html>
