{% extends 'story7/dasar.html' %} {% load static %} 

{% block meta %}
<script src="{% static 'jquery-3.5.1.js' %}"></script>
<script src="{% static 'story7.js' %}"></script>
{% endblock meta %}

{% block main %}
<div class="container m-5 p-5 mx-auto">
  <h3 class="text-center">Dtya's Accordion</h3><br>
    <div id="accordion">

      <div id="aktivitas">
          <h3>Aktivitas Saat Ini 
            <span style="float: right;">
              <i class="button-up fas fa-chevron-up"></i>
              <i class="button-down fas fa-chevron-down"></i>
            </span>
          </h3>
          <div>
            <ul>
                <li>Kuliah Online</li>
                <li>Kepanitiaan dan Organisasi</li>
                <li>Menikmati Era NCT2020</li>
            </ul>
          </div>
      </div>

      <div id="organisasi">
          <h3>Pengalaman Organisasi
            <span style="float: right;">
              <i class="button-up fas fa-chevron-up"></i>
              <i class="button-down fas fa-chevron-down"></i>
            </span>
          </h3>
          <div>
              <ul>
                  <li>Sekretaris OSIS SMP Islam Al Azhar 8</li>
                  <li>Wakil Ketua OSIS SMA Islam Al Azhar 4</li>
                  <li>Staf Biro PSDM BEM Fasilkom UI 2020</li>
              </ul>
          </div>
      </div>  

      <div id="kepanitiaan">
          <h3>Pengalaman Kepanitiaan
            <span style="float: right;">
              <i class="button-up fas fa-chevron-up"></i>
              <i class="button-down fas fa-chevron-down"></i>
            </span>
          </h3>
          <div>
              <ul>
                  <li>PJ Lomba Ratoeh Jaroe ALCHEMIST6</li>
                  <li>Bendahara QUATROLYMPIC11</li>
                  <li>Staf Humpub OH Fasilkom 2019</li>
                  <li>Staf Acara Wisgan 2020</li>
                  <li>Staf Seminar COMPFEST12</li>
                </ul>
          </div>
      </div>

      <div id="prestasi">
          <h3>Prestasi
            <span style="float: right;">
              <i class="button-up fas fa-chevron-up"></i>
              <i class="button-down fas fa-chevron-down"></i>
            </span>
          </h3>
          <div>
              <ul>
              <li>Juara Harapan 3 CG Contest BMBC VII</li>
                  <li>Juara Harapan 1 Ratoeh Jaroe Piala Gubernur Aceh 2018</li>
                  <li>Juara 1 Ratoeh Jaroe TOC8</li>
                </ul>
          </div>
      </div>
    </div>
</div>   
 
    {% endblock main %}