{% extends 'story4/base.html' %} {% load static %} 

{% block main %}
    <div class="container m-5 p-5">

    <br><br><br><br><br><br><br>
    <div class="flex flex-col h-90 w-75">
        <h2>What kind of activity you want to do?<br>Let's join the fun together!</h2>
        <a href="{% url 'story6:addActivity'%}" class="btn btn-warning text-sm-center ">Add Activity</a>
    
        <a href="{% url 'story6:listActivity'%}" class="btn btn-warning text-sm-center">List Activity</a>
                
    </div>



    </div>
{% endblock main %}