{% extends 'story4/base.html' %} {% load static %} 

{% block main %}
    <div class="container m-5 p-5">
        <h2>List Activity</h2>
        <div class="row w-100 justify-content-center">
            {% for activity in activities %}
            <div class="col-4 m-4 p-4 rounded border">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-secondary"> <b> {{ activity.nama_kegiatan }} </b> </li>
    
                    {% for person in persons %}
                    {% if person.kegiatan == activity %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            {{ person.nama }}

                                <a class="btn btn-danger" href="{% url 'story6:delete' delete_id=person.pk %}">Delete</a>
    
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
    
                <div>
                    <br>
                    <a href="{%url 'story6:register' task_id=activity.pk%}" class="btn btn-warning">Register Yourself!</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-sm-center">
            <a href="{% url 'story6:addActivity'%}" class="btn btn-warning text-sm-center ">Add Activity</a>
        </div>

    </div>
    <br><br><br><br><br><br><br>
{% endblock main %}