{% extends 'story4/base.html' %} {% load static %} {% block main %}
<img class="img-responsive" src="{% static 'me.jpg' %}" alt="Chania" width="100%" height="auto"> 
<br><br><br>
<div class="container">   
    <div class="row">
        <div class="col-sm-6 text-right">
            <h2>About Me</h2>
        </div>
        <div class="col-sm-6">
            <h3>Naifathiya Langitadiva</h3>
            <p>Undergraduate Information System at University of Indonesia<br><br>
                I am a person who is positive about every aspect of life. I also have my own principle to live my life that I won't go full throttle. 
                Instead, I will walk slowly enjoying every step of the journey. At my own pace, following my own rythms.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-right">
            <h2>Contact</h2>
        </div>
        <div class="col-sm-6" style="color: #FE7210;">
            <p><i class="fa fa-envelope"></i>&nbsp;&nbsp; naifathiyald@gmail.com
            <br><i class="fa fa-envelope"></i>&nbsp;&nbsp; naifathiya.langitadiva@ui.ac.id</p>
        </div>
    </div>   
</div> 
{% endblock main %}