{% load static %}
<html>
<head>
    <title>Naifathiya Langitadiva</title>
    <link rel="icon" href="{% static 'logo.png' %}" type="image/icon type">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- CSS -->
    <link rel='stylesheet' type='text/css' href="{% static 'story4/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-custom fixed-top">
        <a class="navbar-brand" href="{% url 'story4:index' %}"><img src="{% static 'logo.png' %}" style="width:80px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="line"></span>
            <span class="line"></span> 
            <span class="line" style="margin-bottom: 0;"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home:index' %}">STORY 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story4:jadwal' %}">JADWAL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story6:index' %}">ACTIVITY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story4:skills' %}">SKILLS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story4:experiences' %}">EXPERIENCES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story4:about' %}">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story7:index' %}">ME</a>
            </li>
            </ul>
        </div>
    </nav>
    
    <!-- Body -->
    {% block main %} {% endblock main %}

    <!-- Footer -->
    <div class="d-flex justify-content-between mb-3 mt-5">
        <div class="p-2"></div>
        <div class="copyright p-2 text-center">© 2020 Naifathiya Langitadiva. All Rights Reserved.</div>
        <div class="p-2">
            <div class="media">
                <ul class="list-unstyled float-left">
                    <li><a href="https://www.instagram.com/dtya__/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/naifathiya-langitadiva-54454b179"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div> 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>