{% extends 'story4/base.html' %} {% load static %} 

{% block main %}
    <div class="container m-5 p-5 mx-auto">
    <h2>Daftar Mata Kuliah</h2>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <br>
        <button class="btn btn-warning" type="Submit">Submit</button>
        <a class="btn btn-warning" href="{% url 'story4:jadwal' %}">Cancel</a>
    </form>
    </div>
{% endblock main %}