{% extends 'story4/base.html' %} {% load static %} {% block main %}
<div class="row">
    <div class="col-md-6 p-5">
        <br><br>
        <h2>Education<br>Background</h2>
        <p>SD Islam Al Azhar 9<br>2007 - 2013</p>
        <p>SMP Islam Al Azhar 8<br>2013 - 2016</p>
        <p>SMA Islam Al Azhar 4<br>2016 - 2019</p>
        <p>Universitas Indonesia<br>2019 - 2023</p> 
    </div>
    <div class="col-md-6 p-5" style="background-color: #0D9CA4;"> 
        <br><br>
        <h2 style="color: #FBEEDD;">Comittee<br>Experiences</h2>
        <div class="img__wrap">
            <img class="img__img" src="{% static 'psdm.jpg' %}" />
            <p class="img__description">Staff PSDM<br>BEM Fasilkom UI 2020</p>
        </div>
        <div class="img__wrap">
            <img class="img__img" src="{% static 'wisgan.jpg' %}" />
            <p class="img__description">Staff Acara<br>Wisuda Ganjil Fasilkom 2020</p>
        </div>
        <div class="img__wrap">
            <img class="img__img" src="{% static 'oh.jpg' %}" />
            <p class="img__description">Staff Humas & Publikasi<br>Open House Fasilkom 2019</p>
        </div>
        <div class="img__wrap">
            <img class="img__img" src="{% static 'osis.jpg' %}" />
            <p class="img__description">Wakil Ketua OSIS<br>SMA Islam Al Azhar 4 2017/2018</p>
        </div>
    </div>
</div>
{% endblock main %}