{% extends 'story4/base.html' %} {% load static %} {% block main %}
<div class="container m-5 p-5 mx-auto">
    <br><br><br><br><br><br><br>
    <h1>Hi,<br>My name is Dtya :)</br></h1>
    <h4>Scroll down to know more!</h4>
</div>

<!-- Hover image -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="cont">
                <img src="{% static 'abt.jpg' %}" class="image">
                <div class="overlay">
                  <div class="text"><a class="nav-link2" href="{% url 'story4:about' %}">About Me</a></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cont">
                <img src="{% static 'ski.jpg' %}" class="image">
                <div class="overlay">
                  <div class="text"><a class="nav-link2" href="{% url 'story4:skills' %}">Skills & Interests</a></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cont">
                <img src="{% static 'exp.JPG' %}" class="image">
                <div class="overlay">
                  <div class="text"><a class="nav-link2" href="{% url 'story4:experiences' %}">Experiences</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}