{% extends 'story4/base.html' %} {% load static %} 

{% block main %}
    <div class="container m-5 p-5">
    <h2>Jadwal Kuliah</h2>

        <table class="table">
            <thead>
              <tr class="bg-info">
                <th scope="col">No</th>
                <th scope="col">Mata Kuliah</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                  <tr>
                    <th class="align-middle" scope="row">{{ forloop.counter }}</th>
                    <td class="align-middle"><a class="text-dark" href="{% url 'story4:pilihjadwal' post.id %}">{{ post.nama_matkul }}</a></td>
                    <td class="align-middle text-center"><a class="btn btn-danger" href="{% url 'story4:delete' post.id %}">Delete</a></td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
          <a class="btn btn-warning" href="{% url 'story4:create' %}">Add Matkul</a>
    </div>
{% endblock main %}