{% extends 'story4/base.html' %} {% load static %} 

{% block main %}
    <div class="container m-5 p-5">
    <h2>{{ matkul.nama_matkul }}</h2>
        <table class="table text-center">
            <thead>
              <tr class="bg-info">
                <th class="align-middle" scope="col">Dosen</th>
                <th class="align-middle" scope="col">Jumlah SKS</th>
                <th class="align-middle" scope="col">Deskripsi</th>
                <th class="align-middle" scope="col">Term</th>
                <th class="align-middle" scope="col">Ruang Kelas</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle">{{ matkul.dosen }}</td>
                    <td class="align-middle">{{ matkul.jumlah_sks }}</td>
                    <td class="align-middle">{{ matkul.deskripsi }}</td>
                    <td class="align-middle">{{ matkul.term }}</td>
                    <td class="align-middle">{{ matkul.ruang_kelas }}</td>
                </tr>
            </tbody>
          </table>
          <a class="btn btn-warning" href="{% url 'story4:jadwal' %}">Back to Jadwal</a>
    </div>
{% endblock main %}