{% extends 'story4/base.html' %} {% load static %} {% block main %}
<div class="container m-5 p-5">
    <h2 class="text-right">Skills</h2>
    <p>Organizational Skills</p>
    <div class="progress">
      <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:80%;"></div>
    </div>

    <p>Communication</p>
    <div class="progress">
      <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:77%"></div>
    </div>

    <p>English</p>
    <div class="progress">
      <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
    </div>

    <p>Basic Programming</p>
    <div class="progress">
      <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
    </div>

    <br><br><br>
    <h2 style="color: #0D9CA4">Interests</h2>
    <br>
    <div class="row justify-content-center">
        <div class="col-sm-4 text-center">
            <img src="{% static 'translating.png' %}" alt="Language" style="width:50%">
            <br><p>Languages</p>
        </div>
        <div class="col-sm-4 text-center">
            <img src="{% static 'musical-notes.png' %}" alt="Music & Drama" style="width:50%">
            <br><p>K-Music & Drama</p>
        </div>
        <div class="col-sm-4 text-center">
            <img src="{% static 'world.png' %}" alt="Travel" style="width:50%">
            <br><p>Travel</p>
        </div>
    </div>
</div>
<br><br><br>
{% endblock main %}