{% extends 'story7/dasar.html' %} {% load static %} 

{% block meta %}
<script src="{% static 'jquery-3.5.1.js' %}"></script>
<script src="{% static 'story8.js' %}"></script>
{% endblock meta %}

{% block main %}
<div class="container m-5 p-5">
    <br><h3 class="text-center">Books Collection</h3><br>
    <input id="keyword" placeholder="Search">
<br><br>
    <table class="table">
        <thead>
          <tr class="bg-info text-center">
            <th scope="col">No</th>
            <th scope="col">Cover</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Year</th>
          </tr>
        </thead>
        <tbody id="daftar_isi">
        </tbody>
    </table>
</div>


    <!-- <script type="text/javascript">
        $("#keyword").keyup( function() {
    var ketikan = $("#keyword").val();
    console.log(ketikan);

    // panggil dg teknik AJAX
    $.ajax({
        url: '/books/collection?q=' + ketikan,
        success: function(data) {
            var array_items = data.items;
            console.log(array_items);
            $("#daftar_isi").empty();
            for (i = 0; i < array_items.length; i++) {
                var no = i + 1;
                var judul = array_items[i].volumeInfo.title;
                var gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                var author = array_items[i].volumeInfo.authors;
                var tahun = array_items[i].volumeInfo.publishedDate;
                $('#daftar_isi').append("<tr><td>" + no + "</td><td><img src=" + gambar + "></td><td>" + judul + "</td><td>" + author + "</td><td>" + tahun + "</td></tr>")
                // ("<li>" + judul + "<br><img src=" + gambar + "></li>"); 
            }
        }
    });
});
    </script> -->
    {% endblock main %}