body {
    background-color: rgb(179, 179, 179);
    font-family: 'Didact Gothic', sans-serif;
}

p {
    padding: 15px;
}

h1 {
    color:rgb(88, 88, 88);
    font-family: 'Libre Baskerville', serif;
}

.tab { 
    display: inline-block; 
    margin-left: 40px; 
} 

.card {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
    color: grey;
    background-color: #ffffff;
}

.title {
    color: grey;
    font-size: 18px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background:rgb(88, 88, 88);
    color: white;
}

.fa-linkedin {
    background:rgb(88, 88, 88);
    color: white;
}